.item{
    background-color: yellow;
grid-column-end: span 2;
border: 1px solid black;
height: 100px;
width: 100px;
margin: 15px;
margin-left: 22px;
margin-top: 25px;
border-radius: 10px;
}
.container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 300px;
    width: 300px;
    background-color: aqua;
}
